<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
    <title>Login</title>
</head>
<body class="flex flex-col items-center justify-center min-h-screen w-full bg-cover bg-center bg-gradient-to-r from-rose-100 to-teal-100 p-4 dark:negrofondo">
  <div class="bg-white p-6 rounded-lg shadow-xl w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl">
      <!-- Imagen superior -->
      <div class="flex justify-center mb-4">
          <img src="{{url_for('static',filename='img/logo.svg')}}" alt="Logo" class="w-20 h-20 object-cover rounded-full">
      </div>
      
      <h2 class="text-2xl font-bold text-center text-gray-700 mb-4">Iniciar Sesión</h2>
      
      <form action="#" method="POST">
          <div class="mb-4">
              <label for="email" class="block text-gray-600 text-sm font-semibold mb-1">Correo Electrónico</label>
              <input type="email" id="email" name="email" required  
                  class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400  " placeholder="Ingrese su Email">
          </div>
          
          <div class="mb-4">
              <label for="password" class="block text-gray-600 text-sm font-semibold mb-1">Contraseña</label>
              <input type="password" id="password" name="password" required 
                  class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 " placeholder="Ingrese Su Contraseña">
          </div>
          
          <button type="submit" 
              class="w-full bg-zinc-700 text-white font-bold py-2 px-4 rounded-lg hover:bg-zinc-800 transition duration-200">
              Iniciar Sesión
          </button>
      </form>
      
      <div class="mt-4 text-center">
          <a href="/register" class="text-blue-500 hover:underline">Registrarse</a> |
          <a href="/recover" class="text-blue-500 hover:underline">Recuperar Contraseña</a>
      </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>
