<nav class="flex items-center py-0 px-8 mb-8 justify-between w-full max-w-6xl">
    <div class="flex items-center">
        <a href="/"><img src="{{url_for('static',filename='img/logo.svg')}}" alt="Logo" class="w-20 h-20 object-cover rounded-full" href="/"></a>
        
        <div class="ml-5">
            <ul class="md:flex space-x-8 hidden">
                <li><a href="/" class="text-gray-800 font-semibold">Home</a></li>
                <li><a href="#" class="text-gray-800 font-semibold">Precios</a></li>
                <li><a href="/plans" class="text-gray-800 font-semibold">Planes</a></li>
                <li><a href="#" class="text-gray-800 font-semibold">Ayuda</a></li>
            </ul>
        </div>
    </div>
</nav>