<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <title>Agregar Factura</title>
</head>
<script src="{{ url_for('static', filename='js/precioplan.js') }}"></script>
<body class="flex flex-col items-center min-h-screen w-full bg-cover bg-center bg-gradient-to-r from-rose-100 to-teal-100 p-4">
    {% include 'nav.html' %}

    <div class="bg-white p-6 rounded-lg shadow-xl w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl">
        <h2 class="text-2xl font-bold text-center text-gray-700 my-10">Agregar Factura</h2>

        <form action="/facturas/nueva" method="POST">
            <!-- Campo para la Fecha de la Factura -->
            <div class="mb-4">
                <label for="fecha" class="block text-gray-600 text-sm font-semibold mb-1">Fecha</label>
                <input type="datetime-local" id="fecha" name="fecha" required
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
            </div>

            <div class="mb-4">
                <label for="plan_id" class="block text-gray-600 text-sm font-semibold mb-1">Plan</label>
                <select id="plan_id" name="plan_id"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                    <option value="">Selecciona un plan</option>
                    {% for plan in planes %}
                    <option value="{{ plan.id }}" data-precio="{{ plan.precio }}">{{ plan.nombre }}</option>
                    {% endfor %}
                </select>
            </div>



            <!-- Campo para el Total de la Factura -->
            <div class="mb-4">
                <label for="total" class="block text-gray-600 text-sm font-semibold mb-1">Total</label>
                <input type="number" step="0.01" id="total" name="total" required
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                    placeholder="Ingrese el total de la factura">
            </div>

            <!-- Campo para el Estado Activo/Inactivo -->
            <div class="mb-4">
                <label for="activo" class="block text-gray-600 text-sm font-semibold mb-1">Estado</label>
                <select id="activo" name="activo"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>

            <!-- Campo para el Cliente -->
            <div class="mb-4">
                <label for="cliente_id" class="block text-gray-600 text-sm font-semibold mb-1">Cliente</label>
                <select id="cliente_id" name="cliente_id"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                    {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Campo para el Empleado -->
            <div class="mb-4">
                <label for="empleado_id" class="block text-gray-600 text-sm font-semibold mb-1">Empleado</label>
                <select id="empleado_id" name="empleado_id"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                    {% for empleado in empleados %}
                    <option value="{{ empleado.id }}">{{ empleado.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Campo para el Plan -->


            <!-- Botón para Guardar la Factura -->
            <button type="submit"
                class="w-full rounded-lg bg-gradient-to-r from-indigo-400 to-purple-400 p-3 font-bold text-gray-800 shadow-md hover:shadow-lg">
                Guardar Factura
            </button>
        </form>

        <!-- Enlace para Ver la Lista de Facturas -->
        <div class="mt-4 text-center">
            <a href="/facturas" class="text-blue-500 hover:underline">Ver Lista de Facturas</a>
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>
